.form-wrapper{
    margin-top: 24px;
    .form-container {
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        align-items:center;
        width:50%;
        margin: 10% auto;
        z-index: 800;
        .form-header {
            font-weight: 700;
            font-size: 24px;
            padding: 5%;
        }
    }
}