.custom-button{
    display: inline-block;
    .login-btn{
        color: #0dd100;
        margin-right: 10px;
    }
    .register-btn{
        color:#edb47b
    }
    .btn-jumbotron{
        color: #ab3272;
        margin: 10px;
        .jumbo-btn-text{
            font-family: 'Open Sans Condensed', sans-serif;
            font-weight: 400;
            font-size: 15px;
            color: white
        }
    }
    .btn-form{
        margin: 10px 0 10px 0;
    }
}